.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.style1 {
  display: flex;
  flex-direction: column;
  min-width: 40%;
}
.ele {
  margin: 10px;
}
.ele1 {
  margin: 5px;
}
