.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.buttonstyle {
  background-color: #4f46e5;
  width: 10vw;
  height: 2.5vw;
}

.Li {
  margin: 10px;
}

.ulst {
  display: flex;
  flex-direction: row;
  list-style: none;
}
